/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.main-container,
.task-add-container
 {
    width: 200px;
    height: 200px;
    
    padding: 10px;
    margin: 0 auto;
}

.task-add-container {
    margin-top: 30px;
    height: 100px;
    display: none;
}

.add-new-task {
   display: block;
   margin: 0 auto;
   margin-top: 30px;
   border: 1px solid indigo;
}

.main-container__header {
    height: 30px;
    padding: 5px;
    font-family: serif;
    font-size: 18px;
    
}

.main-container__header-button {
    position: relative;
    left: 10px;
}

h1 {
    display: inline-block;
}

.main-content {
    height: 150px;
    
    margin-top: 5px;
}

.main-content__task-container {
    margin: 0 auto;
    width: 170px;
    height: 30px;
    
    margin-top: 15px;
}

p {
    display: inline-block;
    width: 120px;
}


/* close box */
.task-container__close-box {
    display: inline-block;
    color: black;
    margin-top: 5px;
    font-weight: bold;
    font-size: 26px;
    line-height: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.task-container__close-box:hover {
    color: black;
}

.border-to-all {
    border: 1px solid black;  
}

/* Script style */

.bg-color {
    background: yellow;
    text-decoration: line-through;
}

.visibility {
    display: block;
}